body {
    background-image: url('../Assets/Images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.now {
    text-align: center;
    color: white;
}

a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.rm {
    margin-left: 25%;
}

table th h2 {
    color: white;
}

.space {
    padding-top: 15%;
}

.align {
    text-align: center;
    color: white;
}

h1 {
    color: white;
}

.class1 {
    margin-top: 6%;
    margin-left: 9%;
    width: 70%;
}

.class2 {
    margin-top: 6%;
    margin-left: 19%;
    width: 70%;
}

.th1 {
    padding-left: 6%;
    color: white;
}

button {
    padding: 2px 32px;
}