body {
    background-image: url('../images/wall2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.now {
    margin-left: 47%;
    color: white;
}

.a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.rm {
    margin-left: 25%;
}

.form {
    background-color: black;
    width: 1820px;
    opacity: 0.5;
    margin-top: 290px;
}

.profile {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    width: 66%;
    height: 8%;
    font-size: x-large;
}

.comment {
    margin-left: 10%;
    margin-bottom: 2%;
    width: 66%;
    height: 90px;
    font-size: x-large;
}

.cancel {
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 116px;
    height: 55px;
    margin-bottom: 2%;
    float: left;
    margin-left: 79%;
    margin-top: -11%;
}

.post {
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    width: 116px;
    height: 55px;
    float: left;
    margin-left: 79%;
    margin-top: -6%;
}