body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cafe_name {
    text-align: center;
    color: white;
}

.navbar {
    margin-left: 27%;
}

.nav_static {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.nav_color {
    margin-left: 5%;
    color: rgb(87, 69, 69);
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(197, 191, 191);
    border-radius: 30px;
    padding: 0.4%;
}

.line {
    margin-top: 2%;
}

.title {
    text-align: center;
    color: white;
    margin-top: 4%;
}

.table_chart {
    width: 100%;
    color: white;
    border-bottom: 1px solid;
}

.bottom_line {
    margin-top: -1330px;
}

.coffee_name {
    font-style: oblique;
    float: left;
    margin-top: 8%;
    margin-left: 3%;
    font-size: larger;
}

.coffee_image {
    height: 90px;
    width: 90px;
    float: left;
    border: black solid 2px;
    margin-left: 17%;
    margin-top: 3%;
}

.coffee_quantity {
    text-align: center;
    font-size: larger;
}

.coffee_price {
    text-align: center;
    font-size: larger;
}

.coffee_total {
    text-align: center;
    font-size: larger;
}

.tot {
    font-size: x-large;
    color: white;
    margin-left: 80%;
}

.order {
    background-color: rgb(39, 36, 36);
    color: white;
    text-decoration: none;
    margin-left: 1470px;
    height: 31px;
    width: 175px;
    font-size: x-large;
    padding-bottom: 1.8%;
}

.quantity {
    width: 20px;
    text-align: center;
    border-radius: 4px;
}