body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.h1 {
    text-align: center;
    color: white;
}

a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.cafe {
    margin-left: 25%;
}

.new {
    color: white;
    text-align: center;
    margin-top: 3%;
}

.div {
    background-color: rgb(247, 245, 245);
    opacity: 0.5;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    font-size: 22px;
    border-radius: 2%;
}

.div form table {
    align-items: center;
    width: 100%;
}

td {
    padding: 20px;
    padding-left: 6%;
}

.button {
    font-size: 19px;
    margin-left: 40%;
    margin-bottom: 4%;
}

.table {
    width: 70%;
    text-align: left;
    padding-top: 30px
}

.footer {
    color: white;
    margin-top: 100px;
}