body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.now {
    margin-left: 47%;
    color: white;
}

.a-1 {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.rm {
    margin-left: 25%;
}

.div-1 {
    background-color: black;
    color: white;
    height: 285px;
    width: 600px;
    text-align: center;
    margin-left: 650px;
    margin-top: 10%;
    border-radius: 2%;
    opacity: 0.5;
}

.form {
    font-size: x-large;
    padding: 9%;
}

.input-1 {
    width: 68%;
    height: 8%;
}

.input-2 {
    width: 68%;
    height: 8%;
    margin-top: 10%;
}

button {
    margin-top: 2%;
    font-size: medium;
}

button:hover {
    transition: 2S;
    width: 17%;
}

.label-1 {
    font-size: medium;
    color: black;
}

a {
    text-decoration: none;
}

.pw {
    font-size: medium;
}

#error {
    font-size: large;
    margin-top: 7%;
}

#showPassword {
    margin-left: -12%;
}