body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#cafe_name {
    margin-left: 47%;
    color: white;
}

.navbar {
    margin-left: 25%;
}

.nav_static {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.nav_color {
    margin-left: 5%;
    color: rgb(87, 69, 69);
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(197, 191, 191);
    border-radius: 30px;
    padding: 0.4%;
    text-decoration: none;
}

.up {
    background-color: black;
    border-radius: 80px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    height: 7%;
    width: 3.8%;
    border: rgb(211, 167, 71);
}

.font_up {
    color: rgb(211, 167, 71);
    font-size: 50px;
    text-decoration: none;
}

.coffee_image {
    width: 300px;
    height: 300px;
    border-radius: 70px;
    float: left;
    margin-left: 2%;
    border: 2px solid black;
    box-shadow: rgb(59, 57, 55) 10px 10px 10px;
}

.coffee_name {
    color: white;
    margin-left: 4%;
    text-align: center;
}

.coffee_description {
    color: white;
    width: 74%;
    font-size: x-large;
    font-style: italic;
    float: left;
    margin: 45px;
    margin-top: 4%;
}

.coffee_price {
    color: white;
    font-size: xx-large;
    font-style: italic;
    height: 10px;
    width: 105px;
    margin-left: 23.4%;
}

.button_cart {
    border: rgb(211, 167, 71) solid 2px;
    margin-left: 12%;
    margin-top: 0px;
    background-color: black;
    color: rgb(211, 167, 71);
    height: 40px;
    width: 121px;
    border-radius: 30px;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.toberemoved {
    color: white;
    font-size: medium;
    margin: 43%;
    text-decoration: none;
}