body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cafe_name {
    margin-left: 47%;
    color: white;
}

.navbar {
    margin-left: 25%;
}

.nav_static {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.nav_color {
    margin-left: 5%;
    color: rgb(87, 69, 69);
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(197, 191, 191);
    border-radius: 30px;
    padding: 0.4%;
}

.line {
    margin-top: 2%;
}

.heading {
    margin-left: 40%;
    color: white;
}

.whole_div {
    background-color: white;
    opacity: 0.5;
    width: 70%;
    height: 14vh;
    margin-top: 2%;
    margin-left: 14%;
    position: relative;
    overflow: scroll;
}

.profile_pic {
    float: left;
    margin-top: 1%;
    margin-left: 0.7%;
    width: 110px;
    height: 110px;
}

.name {
    color: black;
    float: left;
    font-weight: bold;
    font-size: x-large;
    margin-left: 2%;
}

.comment {
    color: black;
    margin-top: 6%;
    margin-left: 11.5%;
    font-size: larger;
    position: absolute;
    width: 85%;
}

.button_div {
    text-align: center;
    margin-top: 2%;
}

button {
    background-color: black;
    opacity: 0.5;
    color: white;
    font-weight: bold;
    font-size: large;
    height: 50px;
    width: 350px;
    cursor: pointer;
}