body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cafe_name {
    text-align: center;
    color: white;
}

.navbar {
    margin-left: 27%;
}

.nav_static {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.line {
    margin-top: 2%;
}

.div_form {
    background-color: rgb(19, 18, 18);
    height: 505px;
    width: 810px;
    text-align: center;
    margin-left: 510px;
    margin-top: 7%;
    border-radius: 2%;
    opacity: 0.5;
    color: white;
}

.form_details {
    font-size: x-large;
    padding: 9%;
}

.input_name {
    width: 58%;
}

.input_ph_mail_pw {
    margin-top: 8%;
    width: 50%;
}

.input_checkbox {
    margin-top: 5%;
}

button {
    margin-top: 1%;
    font-size: medium;
    color: white;
    background-color: black;
    padding: 1%;
}

button:hover {
    background-color: white;
    color: black;
}

.terms {
    font-size: medium;
}

.conditions {
    font-size: medium;
    margin-left: 1%;
    color: white;
}

.showPassword {
    font-size: medium;
}

#showPassword {
    margin-left: -2%;
}

#error {
    margin-top: 3%;
    font-size: large;
    color: red;
}