body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.class1 {
    margin-left: 39.2%;
}

.now {
    margin-left: 47%;
    color: white;
}

.a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.cafe {
    margin-left: 25%;
}

.h2 {
    color: azure;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.h22 {
    color: azure;
    text-align: center;
}

.login {
    margin-left: 46%;
    width: 8%;
    height: 5%;
    font-size: xx-large;
    letter-spacing: 1%;
    background-color: rgb(53, 47, 47);
    color: white;
    padding-bottom: 0.4%;
}

.register {
    margin-left: 45%;
    width: 10%;
    height: 5%;
    font-size: xx-large;
    letter-spacing: 1%;
    background-color: rgb(53, 47, 47);
    color: white;
    padding-bottom: 0.4%;
}

button:hover {
    background-color: rgb(128, 89, 53);
    border-radius: 12vh;
    transition: 2s;
}

#home {
    margin-left: 5%;
    color: rgb(87, 69, 69);
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(197, 191, 191);
    border-radius: 30px;
    padding: 0.4%;
}


/* .footer {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    padding-bottom: -40px;
} */

.footer {
    background-color: black;
    color: white;
    margin-top: 132px;
    padding-left: 1445px;
}