body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.cafe_name {
    text-align: center;
    color: white;
}

.navbar {
    margin-left: 27%;
}

.nav_color {
    margin-left: 5%;
    color: rgb(87, 69, 69);
    text-decoration: none;
    font-size: 1.5em;
    background-color: rgb(197, 191, 191);
    border-radius: 30px;
    padding: 0.4%;
}

.nav_static {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.line {
    margin-top: 2%;
}

.logo {
    margin-left: 39.2%;
    width: 400px;
}

.title {
    color: azure;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.caption {
    color: azure;
    text-align: center;
}

.button_login {
    margin-left: 46%;
    width: 8%;
    height: 5%;
    font-size: xx-large;
    letter-spacing: 1%;
    background-color: rgb(53, 47, 47);
    color: white;
    padding-bottom: 0.4%;
    cursor: pointer;
}

.button_register {
    margin-left: 45%;
    margin-top: 1%;
    width: 10%;
    height: 5%;
    font-size: xx-large;
    letter-spacing: 1%;
    background-color: rgb(53, 47, 47);
    color: white;
    padding-bottom: 0.4%;
    cursor: pointer;
}

.button_logout {
    margin-top: 1%;
    margin-left: 46%;
    width: 8%;
    height: 5%;
    font-size: xx-large;
    letter-spacing: 1%;
    background-color: rgb(53, 47, 47);
    color: white;
    padding-bottom: 0.4%;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128, 89, 53);
    border-radius: 12vh;
    transition: 2s;
}