body {
    background-image: url('../images/wall3.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

.cafe_name {
    text-align: center;
    color: white;
}

.navbar {
    margin-left: 27%;
}

a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}

label {
    color: white;
    font-family: inherit;
}

p {
    color: white;
    font-family: sans-serif;
}